*, 
html,
 body {
    margin: 0;
    padding: 0;
    font-family: Impact, 'bebas neue', 'Arial Narrow Bold', sans-serif;
    scroll-behavior: smooth;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #202626;
    color: #fff;
    height: 80vm;
  }
  
  .nav-links a {
    color: #fff;
  }
  
  /* LOGO */
  .logo {
    font-size: 32px;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #202626;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }

  input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  
  /* APPLYING MEDIA QUERIES */
  @media (max-width: 700px) {
   .menu {
      display:none;
      position: absolute;
      background-color:#202626;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#202626;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
    }
  }

.isimain{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(About_us.png);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}

.judulsdg{
    text-align: center;
    color: rgb(130, 113, 0);
    padding-top: 100px;
}

.isitext{
    text-align: center;
    color: rgb(255, 247, 247);
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
}

.active{
    background-color: goldenrod;
    color: white;
    padding: 15px;
    border-radius: 50px;
    
}

.navigation > li > a:hover{
    color: goldenrod;
    transition: all .25s ease-in-out;


}

.navigation>li>img{
    width: 100px;
    height: 50px;
    border-radius: 50px;
}

.navigation>li>img:hover{
    width: 12w0px;
    height: 70px;
    border-radius: 61px;
    transition: all .25s ease-in-out;
}

.active:hover{
    color: white !important;
    background-color: gray;
    width: 61px !important;
    height: 61px !important;
    border-radius: 75px !important;
    transition: all .25s ease-in-out
}

.Ourmember {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 170vh;
    background-image: url(first.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.Ourmember > a{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(202, 176, 9);
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 17px;
    text-decoration: none;
    text-transform: capitalize;
}

.Ourmember > p{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 17px;
    text-decoration: none;
    text-transform: capitalize;
}


#hero-banner{
    background-image: url('Fuyuki.jpg');
       background-size: cover;
       background-position: center center;
       background-repeat: no-repeat;
       background-attachment: fixed;
       font-size: 20px;
    padding: 15px;
    width: 1489px;
    height: 100vh;
   }

   .dp {
    display: flex;
    flex-direction: column;
    width:  1519px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
   }

   .dp > img {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   @media (max-width: 768px){
    .dp {
        display: flex;
        flex-direction: column;
        width: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
       }

       .dp > img {
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
       }
   }

   .product{
    text-align: center;
   }
   .product > a{
    text-decoration: none;
    text-align: center;
    color: goldenrod;
    font-size: 50px;
   }
